html,
body {
  height: 100%;
}

/* Navbar */
#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  right: 0;
  width: 250px;
  height: 100%;
  margin-right: -250px;
  overflow-y: auto;
  background: #222;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 55px;
  font-size: 18px;
  line-height: 55px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#menu-toggle {
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
}

#sidebar-wrapper.active {
  right: 250px;
  width: 250px;
  -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.toggle {
    margin: 5px 5px 0 0;
}
/* Navbar End */

.header {
  padding: 100px 0;
  display: table;
  width: 100%;
  height: 100%;
  color: #FFF;
  background-image: url("http://s27.postimg.org/778hbrnc3/escalator.jpg");
  background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
  
}

.header h1, h3 {
  text-shadow: black 3px 4px 5px;
}

.text-vertical-center {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.text-vertical-center h1 {
  margin: 0;
  padding: 0;
  font-size: 4.5em;
  font-weight: 700;
}

.header h1 {
  font-size: 7.5em;
}

@media only screen and (max-width: 500px) {
  .header h1 {
    font-size: 4em;
  }
}

.network-name {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
}

.about {
  padding: 50px;
  display: table;
  height: 250px;
  width: 100%;
}

.portfolio {
  padding: 50px;
  display: table;
  height: 400px;
  width: 100%;
  background-color: black;
  background: url("http://s15.postimg.org/jzeo6gn5n/writing.jpg") no-repeat center center fixed;
  background-size: cover;
}

.contact {
  padding: 50px 0 10px 0;
}

.footer {
  padding: 10px 0;
}

.text-right-align {
  text-align: right;
}

.text-left-align {
  text-align: left;
}

/* Stylish About Me */
.stylish-panel {
  padding: 20px 0;
  text-align: center;
}
.stylish-panel > div > div{
  padding: 10px;
}

.stylish-panel > div:hover img {
  border-radius: 50%;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}
/* Stylish About Me End */

.navigation {
  float: right;
  list-style: none;
  margin-top: 78px;
}

  .navigation li {
    float: left;
    margin-right: 50px;
    line-height: 1em;
  }

  .navigation li:last-child {
    margin-right: 0;
  }

    .navigation li a {
      color: #f5f7f8;
      font-size: 15px;
      text-transform: uppercase;
      text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
      line-height: 1em; /*reset the line-height for the list tag and the a tag*/
    }

    .navigation li a:hover {
      text-decoration: none;
    }

    .navigation li.active {
      border-bottom: 2px solid #deeef2;
      padding-bottom: 9px; /* push down the bottom border */
    }

    .navigation li.active a {
      border-bottom: 1px solid #428ca1;
      padding-bottom: 9px; /* push down the bottom border */
    }

  #portfolio h2 {
    color: #f5f7f8;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    margin-bottom: 12px;
    float: left;
  }

  #portfolio .navigation {
    margin-top: 10px;
  }

  #portfolio .navigation li a {
    text-transform: none;
  }

  #portfolio .navigation li.active,
  #portfolio .navigation li.active a {
    padding-bottom: 5px;
  }

.portfolio-box {
  padding: 30px;
  width: 1000px;
  overflow: hidden;
  margin-left: -31px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

  .portfolio-box ul {
    list-style: none;
    background: none;
    border: none;
  }

    .portfolio-box ul li {
      margin-bottom: 20px;
    }

#portfolio h3 {margin-bottom: 12px;}