@import url('https://fonts.googleapis.com/css?family=Crimson+Text');

html, body {
    height: 100%
}

main {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

main > div {
    margin: 0 25px 25px 25px;
}

.text {
    color: #FFF;
    text-transform: uppercase;
}

.flex-vert {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
}

.headerBG {
	background: #0A1E25 url("../img/thearrivals.jpg") center/cover no-repeat;
	height: 100%;
}

.title-img {
    width: 300px;
}

.menu {
    font-size: 1.5em;
    font-weight: 100;
}

a {
    color: #FFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.hide {
    opacity: 0;
    transition: opacity 2s ease-in-out;
    -moz-transition: opacity 2s ease-in-out;
    -webkit-transition: opacity 2s ease-in-out;
}

.unhide {
    opacity: 1;
    transition: opacity 2s ease-in-out;
    -moz-transition: opacity 2s ease-in-out;
    -webkit-transition: opacity 2s ease-in-out;
}