body, html {
	height: 100%;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

footer {
	display: flex;
	justify-content: space-between;
	margin: 0 20px 0 20px;
}

.footer-right {
	margin-left: auto;
}

.headerBG {
	background: #000FFF url("http://localhost/staxed.github.io/new/img/main_bg.jpg") center/cover no-repeat;
	height: 100%;
}

.flex-container-vert {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.header-bottom {
	margin-top: auto;
	align-self: flex-end;
}

.header-flexitem:nth-of-type(1) {
	margin-bottom: auto;
	margin-right: auto;
}

.header-flexitem:nth-of-type(5) {
	margin-top: auto;
	align-self: flex-end;
}

.header {
	color: #FFF;
	text-shadow: #000 3px 4px 5px;
}

.header-title {
	font-size: 7em;
	font-weight: 700;
}

.header-phrase {
	font-size: 2em;
	font-weight: 500;
}