/*
 * staxed.github.io
 * Copyright 2016-2017 by Daniel B. Barr <daniel.b.barr@gmail.com>
 * This file is part of staxed.github.io and is governed by The MIT License (MIT)
 * Full License at https://staxed.github.io/license.txt
 */

body, html {
	height: 100%;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.headerBG {
	background: #000FFF url("http://localhost/staxed.github.io/new/img/main_bg.jpg") center/cover no-repeat;
	height: 100%;
}

.flex-container-vert {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.header-bottom {
	margin-top: auto;
	align-self: flex-end;
}

.header-flexitem:nth-of-type(1) {
	margin-bottom: auto;
	margin-right: auto;
}

.header-flexitem:nth-of-type(5) {
	margin-top: auto;
	margin-bottom: 0;
	align-self: flex-end;
}

.header {
	color: #FFF;
	text-shadow: #000 3px 4px 5px;
}

.header-title {
	font-size: 7em;
	font-weight: 700;
}

.header-phrase {
	font-size: 1.5em;
	font-weight: 500;
}

.header div {
	margin: 10px 0px;
}

.button {
  background-color: #FFF;
  border: solid 1px #BBB;
  border-radius: 6px;
  color: #000;
  padding: 12px 20px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  font-size: 16px;
  text-shadow: none;
}

.about {
	padding: 50px;
}

.portfolio {
	padding: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 400px;
}

.portfolioBG {
	background: #000FFF url("http://localhost/staxed.github.io/new/img/mobileoffice.jpg") center/cover no-repeat;
}

.contact {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 50px;
}

footer {
	image-rendering: : 0 50px;
	display: flex;
	width: 90%;
	margin: 0 auto;
	justify-content: center;
	flex-direction: column;
}

.footer-horizontal {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	padding: 0px 0 10px 0;
	width: 95%;
}

.footer-right {
	margin-left: auto;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #CCC;
}

.about-flex-container {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-start;
	width: 80%;
	margin: 0 auto;
}

#flex-about {
	display: flex;
	flex: 1;
}

#flex-about > .qualification {
	padding: 10px;
	flex: 1 1 auto;
	text-align: center;
}

#about-header {
	display: flex;
	height: 50px;
	justify-content: center;
	align-items: center;
	background-color: #CED6ED;
}

#about-footer {
	display: flex;
	height: 50px;
	justify-content: center;
	align-items: center;
	background-color: #DBCEED;
}

.red {
	background-color: red;
}

.blue {
	background-color: blue;
}

.yellow {
	background-color: yellow;
}